setuptools
Pillow
h5py
hdf5storage
ipykernel
matplotlib
numpy
pandas
scipy
sklearn
scikit-learn
scikit-image
csvkit
cloudpickle
pickleshare
numexpr
CFFI
tqdm
lxml
editdistance
cairocffi
pyqt5
qimage2ndarray
dotmap
pandas
json5
pydotplus
scikit_learn
Augmentor
opencv-python
opencv-contrib-python
shapely[vectorized]
pyclipper
albumentations
imagesize
numba
python-levenshtein
jamo
jamotools
Deprecated
bezier
imutils
keras
pydot
spacy
pypng
nltk